## Play Data

In [5]:
import pandas as pd

schema = ['uid','device','song_id','song_type','song_name','singer','play_time','song_length','paid_flag','date']
df = pd.read_csv('../data/play/all_play_log',delimiter='\t',header=None,index_col=None,names=schema)

In [6]:
df.head(10)

,uid,device,song_id,song_type,song_name,singer,play_time,song_length,paid_flag,date
0,1.68551e+08,ar,23491655,0,裂心,林志炫,254,254,0,2.01703e+07
1,1.6854e+08,ar,298250,0,See You Again,Miley Cyrus,189,190,0,2.01703e+07
2,1.68551e+08,ar,11881432,0,一梦浮生,颜淡妖妖,78,149,0,2.01703e+07
3,1.6855e+08,ip,295469,0,凡人歌,高胜美,16,242,0,2.01703e+07
4,1.68551e+08,ip,21393368,0,重生（Intro）,幼稚园杀手,87,87,0,2.01703e+07
5,1.6855e+08,ar,12495422,0,收好，你们要的高中数学课,3D奇妙听觉馆,369,2747,0,2.01703e+07
6,1.68551e+08,ar,20671171,0,Shape Of You,Ed Sheeran,231,231,0,2.01703e+07
7,1.68535e+08,ar,6616004,0,大雨还在下(DJ版),DJ舞曲,283,283,0,2.01703e+07
8,1.6854e+08,ar,4732048,0,哦想(舞曲版 Dj Pw Remix),安与骑兵,197,198,0,2.01703e+07
9,1.68551e+08,ar,3378911,0,为情所伤,庄心妍,14,212,0,2.01703e+07

In [5]:
df.song_type.value_counts().head(10)

0.0     1631080
1.0      208354
2.0       18585
3.0         356
40.0         51
30.0         42
34.0         27
39.0         26
33.0         23
31.0         23
Name: song_type, dtype: int64

In [7]:
df.device.value_counts().head(10)

ar        42077184
ip         6375098
薛之谦            786
梦然             514
mc             405
苏勒亚其其格         361
云菲菲            323
庄心妍            299
乌兰图雅           283
王冕             252
Name: device, dtype: int64

In [8]:
df_song_list = df[['song_id','song_type','song_name','singer']]

In [13]:
df_song_list['song_type'] = pd.to_numeric(df_song_list['song_type'], errors='coerce')

/home/zhengyzhou040820/.local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
df_song_list = df_song_list.drop_duplicates()

In [16]:
df_song_list.song_type.value_counts()

0.0           1288327
1.0            684071
2.0             57615
3.0              5177
30.0              247
40.0              234
43.0              194
33.0              193
29.0              191
34.0              179
35.0              178
31.0              166
32.0              156
37.0              151
36.0              145
28.0              144
41.0              139
27.0              135
39.0              113
26.0              112
38.0              110
25.0              107
23.0              107
50.0               99
22.0               95
47.0               92
46.0               82
21.0               82
19.0               77
24.0               74
               ...
90.0               19
15.0               18
12.0               17
61.0               16
72.0               15
64.0               11
67.0                9
88.0                9
120.0               7
78.0                7
69.0                6
71.0                6
82.0                6
103.0               4
4.0                 3
232.0               3
68.0                2
112.0               2
118.0               2
426.0               2
239.0               2
20170408.0          1
265.0               1
424.0               1
202.0               1
210.0               1
102.0               1
198.0               1
10.0                1
4018644.0           1
Name: song_type, Length: 87, dtype: int64

In [17]:
df_song_list.to_csv('../data/play/song_info.csv')

## Download Data

In [7]:
import pandas as pd

schema = ['uid','device','song_id','song_name','singer','paid_flag']
df = pd.read_csv('../data/1_down.log',delimiter='\t',header=None,index_col=None,names=schema)

In [8]:
df.head(10)

           uid device    song_id      song_name       singer paid_flag
0  167175597.0     ar  2833802.0           草原之夜          费玉清         0
1  168008024.0     ar  9859281.0         抬头月牙弯弯         MC半阳         0
2  167949371.0     ar  6807393.0           非常带劲       McTaiM         0
3  167654366.0     ip   399860.0            NaN          NaN         0
4  167969524.0     ar  6977636.0     你是伤我最深的那个人          雨霖枫         0
5  168014135.0     ar  6431766.0         Living  Florian Bur         0
6  167572709.0     ar  4221401.0           一曲红尘           高安         0
7  168310102.0     ip  3278304.0            NaN          NaN         0
8  167654366.0     ip  1043768.0            NaN          NaN         0
9  167569644.0     ar  4990551.0  香港之夜 - 快四 吉特巴          邓丽君         0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117628 entries, 0 to 117627
Data columns (total 6 columns):
uid          117487 non-null float64
device       117628 non-null object
song_id      117600 non-null float64
song_name    94646 non-null object
singer       94481 non-null object
paid_flag    117346 non-null object
dtypes: float64(2), object(4)
memory usage: 5.4+ MB

## Search Data

In [10]:
import pandas as pd

schema = ['uid','device','time_stamp','search_query']
df = pd.read_csv('../data/1_search.log',delimiter='\t',header=None,index_col=None,names=schema)

In [11]:
df.head(10)

,uid,device,time_stamp,search_query
0,167593390,ar,2017-03-31 00:00:01,%E9%87%91%E9%92%B1%E7%9A%84%E7%A4%BE%E4%BC%9A%...
1,168021414,ar,2017-03-31 00:00:01,%E7%9B%B8%E9%81%87%E6%98%AF%E7%BC%98
2,167839162,ar,2017-03-31 00:00:03,%E5%8D%83%E9%87%8C%E4%B9%8B%E5%A4%96
3,167839162,ar,2017-03-31 00:00:03,%E5%8D%83%E9%87%8C%E4%B9%8B%E5%A4%96
4,167839162,ar,2017-03-31 00:00:04,%E5%8D%83%E9%87%8C%E4%B9%8B%E5%A4%96
5,167839162,ar,2017-03-31 00:00:04,%E5%8D%83%E9%87%8C%E4%B9%8B%E5%A4%96
6,167617785,ar,2017-03-31 00:00:05,%E9%83%AD%E5%BE%B7%E7%BA%B2
7,168014864,ar,2017-03-31 00:00:05,mc
8,167730767,ar,2017-03-31 00:00:06,%E6%88%91%E6%9C%80%E7%88%B1%E7%9A%84%E4%B8%80%...
9,167807212,ar,2017-03-31 00:00:07,%E4%B8%A4%E4%B8%A4%E7%9B%B8%E6%9C%9B

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116142 entries, 0 to 116141
Data columns (total 4 columns):
uid             116142 non-null int64
device          116142 non-null object
time_stamp      116142 non-null object
search_query    116142 non-null object
dtypes: int64(1), object(3)
memory usage: 3.5+ MB